Tipus de dades, texto, conversions

In [ ]:
# numero entero

num1 = 7
num2 = 4

suma = num1 + num2 

print(suma)

type(num1)

10

int

In [ ]:
sumando1 = int(input("Diume el primer sumando: "))
sumando2 = int(input("Diume el segon sumando: "))

print("Resultat:",sumando1+sumando2)

Diume el primer sumando: 2
Diume el segon sumando: 3
Resultat: 23

In [ ]:
# nombres reials

base=5.34
altura=6.23

type(base)

triangle = base*altura/2
triangle
round(triangle,6)

16.6341

In [ ]:
soltero=True
type(soltero)

print("Eres soltero?",soltero,":", type(soltero))

Eres soltero? True : <class 'bool'>

In [ ]:
nom = "Pepe"
cognom = 'Perez'

type(nom)

nomsenser = nom + " " + cognom
print(nomsenser)

PepePerez

In [ ]:
print("juan", "jose","carlos","luis", sep=', ', end ='.')

juan, jose, carlos, luis.

In [ ]:
base=5.34
print("Base triangulo: " + str(base))

type(base)

Base triangulo: 5.34

str

In [ ]:
#funcions texto
string = "bon dia"
print(string.capitalize())
print(string.upper())
print(len(string))
print(string.isalnum())
print('123123'.isdigit())

Bon dia
BON DIA
7
False
True

In [ ]:
texto = "Bienvenidos al curso de Python"

print("Max:", max(texto))  # y
print("Min:", min(texto))  # espacio en blanco
print("Min:", min('a1'))   # 1

print(texto.replace('e','E'))

Max: y
Min:
Min: 1
BiEnvEnidos al curso dE Python

In [ ]:
palabras = texto.split()
print(palabras)
print("-".join(palabras))

['Bienvenidos', 'al', 'curso', 'de', 'Python']
Bienvenidos-al-curso-de-Python

In [ ]:

##split

fecha = "3/10/2022"
datos = fecha.split('/')
print('Dia:', datos[0])
print('Mes:', datos[1])
print('año:', datos[2])

Dia: 3
Mes: 10
año: 2022

In [3]:
# convertir de str a int
dato = input("Dime tu edad: ")
print(type(dato))
edad = int(dato) + 1
print("Feliz cumpleaños, tienes", edad, "años")

Dime tu edad: 20
<class 'str'>
Feliz cumpleaños, tienes 21 años

In [ ]:
import math

# convertir de str a float
radio = float(input("Introduce radio del circulo: "))
print("Area del circulo", math.pi*radio**2)  # ** es una potencia
# round (que, decimales)
print("Area del circulo", round(math.pi*radio**2, 2) )