Funcions i Coleccions I

In [ ]:
def Saludar():
  print("Hola")

Saludar()

Hola

In [ ]:
def SumaResta(param1,param2):
  return param1+param2, param1-param2

num1=int(input("Nombre 1:"))
num2=int(input("Nombre 2:"))

suma, resta = SumaResta(num1,num2)

print('Suma: ', suma)
print('Resta: ', resta)

Nombre 1:2
Nombre 2:4
Suma:  6
Resta:  -2

In [ ]:
def datosTrabajador(nombre, sueldo=21000, estadoCivil="Solter@"):
    
    if nombre=='Pepe':
      sueldo+=10000

    return nombre + " su sueldo: " + str(sueldo) + " esta " + estadoCivil

print(datosTrabajador("Pepe"))
print(datosTrabajador("Antonio", 35000))
# print(datosTrabajador(sueldo=35000))
print(datosTrabajador("Angel", "Separado"))
print(datosTrabajador("Angel", estadoCivil="Separado"))
print(datosTrabajador("Angel", 43000))

Pepe su sueldo: 31000 esta Solter@
Antonio su sueldo: 35000 esta Solter@
Angel su sueldo: Separado esta Solter@
Angel su sueldo: 21000 esta Separado
Angel su sueldo: 43000 esta Solter@

In [ ]:
#Funció suma nombre variable de nombres

def sumar(*nombre):
  suma=0
  for num in nombre:
    suma+=num 
  return suma

print(sumar())
print(sumar(7))
print(sumar(4,3))
print(sumar(4,6,7))
print(sumar(2,1,2,1,2))

0
7
7
17
8

In [ ]:
def concatenar(*datos, separador=" | "):
    return separador.join(datos)

print(concatenar("lunes","martes","miercoles","jueves","viernes","sabado","domingo"))
print(concatenar("lunes","martes","miercoles","jueves","viernes","sabado","domingo", separador=","))

lunes | martes | miercoles | jueves | viernes | sabado | domingo
lunes,martes,miercoles,jueves,viernes,sabado,domingo

In [ ]:
# Funcion que recibe el nombre y las notas de un alumno
# utilizando la funcion sumar() calculamos la media
# devuelve el nombre en mayusculas y la media de las notas

In [ ]:
def sumar(*nombre):
  suma=0
  for num in nombre:
    suma=suma + num 
  return suma

def mitjana(*notes,nom):
    n_notes=len(notes)
    print(n_notes)
    suma_notes=sumar(*notes)
    print(suma_notes)
    mitjana=suma_notes/n_notes
    nom=nom.upper()
    return mitjana,nom

print(mitjana(4,8,3,6,nom="Juan"))

4
21
(5.25, 'JUAN')

In [ ]:
def sumar_notas(*notas):

    suma_total = 0
    num_exams = 0
    for num in notas:
        media= sum(notas)/ len(notas)
    return media
 
nombre = input("Escribe nombre estudiante: ")
print("La media de " + nombre.upper() + " es de " + str(sumar_notas(9,8,7)))

Escribe nombre estudiante: juan
La media de JUAN es de 8.0

In [ ]:
# llista

colorR = 'rojo'
colorV = 'verde'
colorA = 'azul'
colores = [colorR, colorV, colorA]
print(colores)

#ordenar
print(sorted(colores))
print(sorted(colores,reverse=True))

#mostrar element de la llista
print(colores[1])

#eliminar per posicio

del colores[2]
print(colores)

#concatenar llistes 

masColores = ['blanco', 'negro', 'rosa', 'azul']
nuevaLista = colores + masColores
print(nuevaLista)

colores=['azul','rojo']
numeros=[1,2]
print(colores,numeros)
list(zip(colores, numeros))

#insertar element a posició específica

nuevaLista.insert(3,'marron')
print(nuevaLista)

#insertar elemento al final
nuevaLista.append('naranja')
print(nuevaLista)

nuevaLista.append('rojo')

print(nuevaLista.count('rojo'))

print(nuevaLista.index('rojo',2))

print(len(nuevaLista))

print(nuevaLista[2:4])
print(nuevaLista[:4])
print(nuevaLista[-2:])
print(nuevaLista[4:2])

nuevaLista.clear()
print(nuevaLista)

## llista de llistes 

lista= ['ordenador','teclado','raton',[['pantalla','webcam'],'tarjeta de sonido','microfono','altavoces']]

print(lista[0])
print(lista[1])
print(lista[2])
print(lista[3])
print(lista[3][0])
print(lista[3][0][1])

['rojo', 'verde', 'azul']
['azul', 'rojo', 'verde']
['verde', 'rojo', 'azul']
verde
['rojo', 'verde']
['rojo', 'verde', 'blanco', 'negro', 'rosa', 'azul']
['azul', 'rojo'] [1, 2]
['rojo', 'verde', 'blanco', 'marron', 'negro', 'rosa', 'azul']
['rojo', 'verde', 'blanco', 'marron', 'negro', 'rosa', 'azul', 'naranja']
2
8
9
['blanco', 'marron']
['rojo', 'verde', 'blanco', 'marron']
['naranja', 'rojo']
[]
[]
ordenador
teclado
raton
[['pantalla', 'webcam'], 'tarjeta de sonido', 'microfono', 'altavoces']
['pantalla', 'webcam']
webcam

In [ ]:
#tuples

dias = ("lunes","martes","miercoles","jueves","viernes","sabado","domingo")

# Mostrar la tupla
print(dias)

# Recorrer una tupla
for dia in dias:
    print(dia)
    
# Mostrar el miercoles
print(dias[2])

# Ordenar tupla
print(sorted(dias))
print(sorted(dias, reverse=True))

# Intento borrar el lunes
# TypeError: 'tuple' object doesn't support item deletion
#del dias[0]  

# Intentamos concatenar tuplas
#otra_tupla = dias + ('otro_sabado') # TypeError: can only concatenate tuple (not "str") to tuple
otra_tupla = dias + ('otro_sabado',) # con una coma si funciona. Le hacemos creer qie son varios elementos
otra_tupla = dias + ("otro_sabado", "otro_domingo")
print(otra_tupla)

('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo')
lunes
martes
miercoles
jueves
viernes
sabado
domingo
miercoles
['domingo', 'jueves', 'lunes', 'martes', 'miercoles', 'sabado', 'viernes']
['viernes', 'sabado', 'miercoles', 'martes', 'lunes', 'jueves', 'domingo']
('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado', 'domingo', 'otro_sabado', 'otro_domingo')